*{
margin: 0;
padding: 0;
}
body{

     
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
header{
     /* width: 1600px; */
    /* height: 7335px;  */


}

 .banner{
     width: 1320px;
    height: 600px; 
    background-image: url('../resources/Banner\ Image.png');
  margin: 50px 300px;
  border-radius: 16px;
  /* text-align: center; */
}   
 .banner-text{
   
    text-align: center;
    
}
.wish{
    font-family: Inter;
    color: #FFF;
    font-size: 32px;
   font-weight: 400;
   padding-top: 200px;
}
.description{
    color: #FFF;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
   
}
.discount{

text-align: center;



}
.percentag{
    color: #F00;
   font-size: 88px;
    font-weight: 700;
    font-family: Inter;
    /* padding-left: 350px; */
    }

    .DEALS{
        padding-top: 50px;
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        /* padding-left: 350px; */
        } 
   .note{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
    padding-top: 10px;
    padding-bottom: 50px;
    /* padding-left: 350px; */
    }   
    .img{
        width: 802.9px;
        height: 500px;
        /* padding-left: 350px; */
}  
/* main section start */
/* first section start */

.welcome{

    width: 1320px;
    height: 600px; 
    background-image: url('../resources/Vectorrr.png');
  margin: 50px 300px;
  border-radius: 16px;
  display: flex;
  gap: 30px;

}
.welcome-text{
text-align: left;
color: white;
}
.heading{
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 700;
    padding-top: 130px;
    padding-left: 100px;
    padding-bottom: 30px;
}
.deatials{

    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
     padding-left: 100px;
}
.btn{
color: #0c0c0c;
   margin-left: 150px;
   margin-top: 50px;
}

.year{
   
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   padding-left: 70px;
   padding-top: 50px;
}
/* first section end */

.appoinment{

    width: 1320px;
    height: 350px;
    background-color: rgb(243, 235, 231);
text-align: center;
margin: 50px 300px;
  border-radius: 16px;
padding-top: 100px;
}
.color{
color: #F00;
}
.place{

    
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;


}
.join{
    display: inline-flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px; 
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
    margin-top: 30px;

}
 .offers{
display: flex;
text-align: center;
margin-left: 300px;


}  
 .offer-title{
margin-top: 100px;
display: block;
gap: 100px;


}
.offer-head{

    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.coming-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
   font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    text-align: left;
}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
     font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    text-align: left;
  } 
  .picture{

margin-top: 60px;
margin-left: 120px;
margin-right: 120px;



  }
  .pictures{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid orangered;
   padding: 20px;
  }
  .new-year{

    margin-top: 90px;
    display: block;
    gap: 100px;

}
.number{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    
}
.new-year-description{

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.photo{
margin-top: 20px;

}
.funtion{

text-align: center;
margin-top: 100px;
margin-bottom: 10px;
font-size: 25px;
}
.Holidays{
    font-size: 72px;
    font-weight: 900;
}
.Holidays-details{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;

}
/* .discounts-images{
background-color: aquamarine;
margin-top: 50px;
display: flex;


} */

.portfolio-gifts{

margin-left: 300px;
text-align: left;
margin-top: 100px;
}
.gifts{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.our{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
   text-transform: capitalize;
   margin-bottom: 10px;
}
.gift-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.img-portfolio{
margin-left: 300px;
margin-top: 30px;
}
/* .first-table{
display: flex;
} */
.images-3{
border: 10px solid white;
padding: 5px;
}